body {
    font-family: 'Segoe UI';        }
table {
    border-collapse: collapse;
}
td {
    padding: 5px;
}
.uncommon {
    background: green;
    opacity: 0.8;
}
.rare {
    background: blue;
    opacity: 0.8;
}
.epic {
    background: purple;
    opacity: 0.8;
}
.legendary {
    background: darkorange;
    opacity: 0.8;
}
text-right {
    text-align: right;
}
a {
    color: #ffffff;
    text-decoration: none;
}
