body {
    font-family: 'Segoe UI';
    margin: 5px 0 0 5px;        
}
table {
    border-collapse: collapse;
}
td {
    padding: 5px;
}
.uncommon {
    background: green;
    opacity: 0.8;
}
.rare {
    background: blue;
    opacity: 0.8;
}
.epic {
    background: purple;
    opacity: 0.8;
}
.legendary {
    background: darkorange;
    opacity: 0.8;
}
.uncommon-font {
    color: green;
    opacity: 0.8;
}
.rare-font {
    color: blue;
    opacity: 0.8;
}
.epic-font {
    color: purple;
    opacity: 0.8;
}
text-right {
    text-align: right;
}
a {
    color: #ffffff;
    text-decoration: none;
}
.bold {
    font-weight: bold;
}
.semibold {
    font-weight: 600;
}
.loading {
    font-size: 24px;
    font-weight: bold;
}
.pad-top-10 {
    padding-top: 10px;
}
.panel-heading {
    background-color: lightblue !important;
}